<h3>
  Admin > <%= link_to @settings.project_name, root_url, :class => 'show_loader', :'data-loader' => "admin_header" %>
  <span class="loader" data-loader="admin_header" style="display:none"></span>  
</h3>

<ul class="nav nav-pills">
  <li class="<%= project %>">
    <%= link_to "Project", admin_project_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= contributors %>">
    <%= link_to "Contributors", admin_contributors_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= bank %>">
    <%= link_to "Bank Setup", admin_bank_setup_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
</ul>