<div class="container clearfix">
  <ul class="nav nav-pills">
    <li>
      <%= link_to "Project", admin_project_path, class: 'show-loader' %>
    </li>
    <li class="active">
      <%= link_to "Contributors", admin_contributors_path, class: 'show-loader' %>
    </li>
    <li>
      <%= link_to "Bank Setup", admin_bank_setup_path, class: 'show-loader' %>
    </li>
  </ul>
</div>

<div id="admin_contributors">
  <div class="container clearfix">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @contributors.each do |contributor| %>
        <tr>
          <td><%= contributor.user.firstname %></td>
          <td><%= contributor.user.lastname %></td>
          <td><%= contributor.user.email %></td>
          <td><%= contributor.amount.to_f/100 %></td>
          <td><%= DateTime.parse(contributor.creation_date).strftime("%m/%d/%Y") %></td>
          <td><%= contributor.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>