<div class="container clearfix">
  <ul class="nav nav-pills">
    <li>
      <%= link_to "Project", admin_project_path, class: 'show-loader' %>
    </li>
    <li class="active">
      <%= link_to "Contributors", admin_contributors_path, class: 'show-loader' %>
    </li>
    <li>
      <%= link_to "Bank Setup", admin_bank_setup_path, class: 'show-loader' %>
    </li>
  </ul>
</div>

<div id="admin_contributors">
  <div class="container clearfix">

    <div class="search">
      <form accept-charset="UTF-8" action="/admin/contributors" method="get">
        
        <input id="payment_id" type="text" name="payment_id" placeholder="Search by ID" value="<%= params[:payment_id] if params.has_key?(:payment_id) %>"/>  
        <button type="submit" class="btn btn-primary">Search</button>
      
      </form>
      <% if params.has_key?(:payment_id) %>
        <%= link_to "clear", admin_contributors_path %>
      <% end %>
    </div>


    <table class="table table-striped">
      <thead>
        <tr>         
          <th>Name</th>
          <th>Email</th>
          <th>Amount</th>
          <th>User Fee</th>
          <th>Date</th>
          <th>Status</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        <% @contributors.each do |contributor| %>
        <tr>      
          <td><%= contributor.user.lastname + ', ' + contributor.user.firstname %></td>
          <td><%= contributor.user.email %></td>
          <td>$<%= number_with_precision(contributor.amount.to_f/100.0, precision: 2) %></td>
          <td>$<%= number_with_precision(contributor.user_fee_amount.to_f/100.0, precision: 2) %></td>
          <td><%= DateTime.parse(contributor.creation_date).strftime("%m/%d/%Y") %></td>
          <td><%= contributor.status %></td>
          <td><%= contributor.id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% if @total_pages > 1 %>
      <%= render 'shared/paginate', path: :admin_contributors_path, page: @page, total_pages: @total_pages %>
    <% end %>
    
    
  </div>  
</div>