<div class="container clearfix">
  <ul class="nav nav-pills">
    <li class="active">
      <%= link_to "Project", admin_project_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
    </li>
    <li>
      <%= link_to "Contributors", admin_contributors_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
    </li>
    <li>
      <%= link_to "Bank Setup", admin_bank_setup_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
    </li>
  </ul>
</div>

<div id="admin_project">
  <div class="container clearfix">

    <%= form_for(@settings, url: admin_project_path, multipart: true) do |f| %>
     
      <fieldset>
      <legend>Basic Information</legend>
        
        <div class="field clearfix">
          <p class="explanation">This'll be both the page title (&lt;title&gt;&lt;/title&gt;) and the name in the header</p>
          <label>Project Name</label>
          <%= f.text_field :project_name %> 
        </div>
  
        <div class="field clearfix">
          <p class="explanation">The dollar amount you'd like to raise.</p>
          <label>Project Goal</label>
          <div class="amount_input" style="position:relative">
            <%= f.text_field :project_goal, value: (number_with_precision(f.object.project_goal, :precision => 2) || 0) %>
            <span style="position:absolute">$</span>
          </div>
        </div>
  
        <div class="field clearfix">        
          <p class="explanation">When your campaign to raise money should end.</p>
          <label>Expiration Date</label>
          <%= f.date_select :expiration_date, { order: [ :month, :day, :year ] }, { style: "width:120px" } %>
        </div>      
      </fieldset>
      
      <fieldset>
      <legend>Payment Details</legend>
      
        <div class="field clearfix">
          
          <label><input id="settings_payment_type_any" name="settings[payment_type]" value="any" type="radio" <%= @settings.payment_type == 'any' ? "checked" : "" %>><strong>Any</strong> amount is fine.</label>
          
          <label><input id="settings_payment_type_fixed" name="settings[payment_type]" value="fixed" type="radio" <%= @settings.payment_type == 'fixed' ? "checked" : "" %>>Require a <strong>specific amount</strong> from all contributors. <i>(ex. $150 from each person)</i></label>
          
          <div id="preset-amount" style="<%= @settings.payment_type == 'fixed' ? "" : "display:none" %>">
            <label class="inline"><strong>Preset amount: $ &nbsp;</strong></label>
            <%= f.text_field :fix_payment_amount, value: (number_with_precision(f.object.fix_payment_amount, :precision => 2) || 0) %>      
          </div>
          
          <label><input id="settings_payment_type_min" name="settings[payment_type]" value="min" type="radio" <%= @settings.payment_type == 'min' ? "checked" : "" %>>Require a <strong>minimum amount</strong> for each contribution. <i>(ex. $10 min. contribution)</i></label>
          
          <div id="min-amount" style="<%= @settings.payment_type == 'min' ? "" : "display:none" %>">
            <label class="inline"><strong>Minimum amount: $ &nbsp;</strong></label>
            <%= f.text_field :min_payment_amount, value: (number_with_precision(f.object.min_payment_amount, :precision => 2) || 0) %>
          </div>
        </div>
        
        <div class="field clearfix">
          <p class="explanation">If you would like, you may specify a fee that gets charged to contributors on top of their contribution amount. This is often used to help offset payment processing fees.</p>
          <label>Contribution Fee (%)</label>
          <%= f.text_field :user_fee_amount %> 
        </div>
  
      </fieldset>
      
      <fieldset>
      <legend>Homepage Content</legend>
        
        <div class="field clearfix">
          <p class="explanation">If you would like to display a logo instead of your project title in the header, upload it here.</p>
          <label>Logo</label>
          <% if @settings.logo_image.file? %>
            <%= image_tag @settings.logo_image.url(:thumb) %><br/>
            <%= f.file_field :logo_image %><br/>
            <%= f.check_box :logo_image_delete %><span>Delete current image</span>
          <% else %>           
            <%= f.file_field :logo_image %>
          <% end  %>
        </div>
        
        <div class="field clearfix">
          <p class="explanation">Shows up centered at the top of the homepage...leave blank if you don't want to include this.</p>
          <label>Tagline</label>
          <%= f.text_area :tagline, rows: 2 %>
        </div>

        <div class="field clearfix">
          <p class="explanation">A few other ideas: supporter, preorder, donor, contributor, participant.</p>
          <label>How To Reference a Contributor (i.e. 'backer' )</label>
          <%= f.text_field :contributor_reference %>
        </div>
        
        <div class="field clearfix">
          <p class="explanation">We STRONGLY recommend including a video with your project. Just paste the youtube video id (it's the 11 character code that comes at the very end of the youtube url). You can also specify a placeholder image to show over top of the video in case you don't like your video's thumbnail.  Alternatively, you can choose to simply upload an image to show instead of a video.</p>

            <label class="inline"><input id="settings_media_type_video" name="settings[media_type]" value="video" type="radio" <%= @settings.media_type == 'video' ? "checked" : "" %>>Use Video</label>

            <label class="inline ml-20"><input id="settings_media_type_image" name="settings[media_type]" value="image" type="radio" <%= @settings.media_type == 'image' ? "checked" : "" %>>Use Image</label>
            
          <div id="video-options" style="<%= @settings.media_type == 'video' ? "" : "display:none" %>">          
            <label>Youtube Video ID</label>
            <%= f.text_field :video_embed_url %>
            <label>Video Placeholder</label>
            <% if @settings.video_placeholder.file? %>
              <%= image_tag @settings.video_placeholder.url(:thumb) %><br/>
              <%= f.file_field :video_placeholder %><br/>
              <%= f.check_box :video_placeholder_delete %><span>Delete current image</span>
            <% else %>           
              <%= f.file_field :video_placeholder %>
            <% end  %>
          </div>

          <div id="image-options" style="<%= @settings.media_type == 'image' ? "" : "display:none"%>">      
            <label>Image</label>
            <% if @settings.project_image.file? %>
              <%= image_tag @settings.project_image.url(:thumb) %><br/>
              <%= f.file_field :project_image %><br/>
              <%= f.check_box :project_image_delete %><span>Delete current image</span>
            <% else %>           
              <%= f.file_field :project_image %>
            <% end  %>
          </div>
        </div>
        
        <div class="field clearfix">
          <p class="explanation">This text is displayed on the primary call to action button. Common choices include 'Pay', 'Contribute', 'Back this Project', 'Reserve for $199', etc.</p>
          <label>Primary Call to Action Button</label>
          <%= f.text_field :primary_call_to_action_button %>
        </div>
        
        <div class="field clearfix">
          <label>Primary Call to Action Description</label>
          <p class="explanation inline">This formatted text gets displayed near the primary call to action button.</p>
          <%= f.cktext_area :primary_call_to_action_description %>
        </div>    
          
        <div class="field clearfix">       
          <label>Main Content</label>
          <p class="explanation inline">This is the meat and potatoes of your website - include rich text and images to get your contributors excited!</p>
          <%= f.cktext_area :main_content %>        
        </div>        
        
        <div class="field clearfix">
          <p class="explanation">This text is displayed on the second call to action button position near the bottom of the homepage.</p>
          <label>Secondary Call to Action Button</label>
          <%= f.text_field :secondary_call_to_action_button %>
        </div>
        
        <div class="field clearfix">
          <label>Secondary Call to Action Description</label>
          <p class="explanation inline">This formatted text gets displayed near the secondary call to action button.</p>
          <%= f.cktext_area :secondary_call_to_action_description %>
        </div>
        
        <div class="field clearfix">
          <label>FAQ</label>
          <p class="explanation inline">Add as many question/answer pairs as you'd like to display in the FAQ section of the homepage.</p>
          <ul class="faq sortable">
            <% iterator = 1 %>        
            <% @faqs.each do |faq| %>
            <li>
              <span><%= iterator %></span>            
              <textarea name="faq[][question]" placeholder="Question"><%= faq.question %></textarea>
              <textarea name="faq[][answer]" placeholder="Answer"><%= faq.answer %></textarea>
              <a href="#" class="faq-delete icon-trash"></a>         
            </li>
            <% iterator+=1 %>
            <% end %>
            <li>
              <span><%= @faqs.count + 1 %></span>            
              <textarea name="faq[][question]" placeholder="Question"></textarea>
              <textarea name="faq[][answer]" placeholder="Answer"></textarea>
              <a href="#" class="faq-delete icon-trash"></a>
             </li>                     
          </ul>
          
          <button id="faq-add" type="button" class="btn btn-info">+</button>  
        </div>
  
      </fieldset>

      <fieldset>
      <legend>Checkout Page Content</legend>

        <div class="field clearfix">
          <label>Sidebar Content</label>
          <p class="explanation inline">This content is displayed on the right sidebar of the checkout page. A question/answer format is often used.</p>
          <%= f.cktext_area :checkout_content %> 
        </div>      
      
      </fieldset>
  
      <fieldset>
      <legend>Sharing Details</legend>
      
        <div class="field clearfix">
          <p class="explanation">This is the default text that will be used for the tweet button.</p>
          <label>Tweet Text</label>
          <%= f.text_area :tweet_text, rows: 2 %>
        </div>
        
        <div class="field clearfix">
          <p class="explanation">Include your facebook app ID here to properly set up your social sharing buttons. Visit https://developers.facebook.com/apps to create an app for your site. The like button will NOT show up unless you provide this ID.</p>
          <label>Facebook App ID</label>
          <%= f.text_field :facebook_app_id %>
        </div>
        
        <div class="field clearfix">
          <p class="explanation">The title shown when your site is shared via facebook. Leave blank if you just want this to use your project name.</p>
          <label>Facebook Title</label>
          <%= f.text_field :facebook_title %>
        </div>
        
        <div class="field clearfix">
          <p class="explanation">The description shown when your site is shared via facebook.</p>
          <label>Facebook Description</label>
          <%= f.text_area :facebook_description, rows: 2 %>
        </div>
        
        <div class="field clearfix">
          <p class="explanation">The image shown when your site is shared via facebook. This should have a square aspect ratio and be at least 200px by 200px</p>
          <label>Facebook Image</label>
          <% if @settings.facebook_image.file? %>
            <%= image_tag @settings.facebook_image.url(:thumb) %><br/>
            <%= f.file_field :facebook_image %><br/>
            <%= f.check_box :facebook_image_delete %><span>Delete current image</span>
          <% else %>           
            <%= f.file_field :facebook_image %>
          <% end  %>
        </div>              
      
      </fieldset>
      
      <fieldset>
      <legend>Google Analytics</legend>
      
        <div class="field clearfix">
          <p class="explanation">If would like to add tracking to your site, sign up for an account at https://google.com/analytics, then paste your tracking ID here.</p>
          <label>Google Analytics ID</label>
          <%= f.text_field :google_id %>
        </div>
      
      </fieldset>
      
      <fieldset>
      <legend>Footer Content</legend>
      
        <div class="field clearfix">
          <p class="explanation">The text shown in the footer beside the copyright symbol.</p>
          <label>Copyright Text</label>
          <%= f.text_field :copyright_text %>
        </div>
      
      </fieldset>
      
      <%= f.submit "Update", :'class' => "btn btn-primary show_loader", :'data-loader' => "project_form" %>
      <span class="loader" data-loader="project_form" style="display:none"></span>
    <% end %>
  </div>
</div>