<div class="container clearfix">
  <ul class="nav nav-pills">
    <li class="active">
      <%= link_to "Project", admin_project_path %>
    </li>
    <li>
      <%= link_to "Contributors", admin_contributors_path %>
    </li>
    <li><a href="#">Payment Settings</a></li>
  </ul>
</div>

<div id="admin_project">
  <div class="container clearfix">
  
    <%= form_for(@settings, url: admin_project_path, multipart: true) do |f| %>
     
      <fieldset>
      <legend>Basic Information</legend>
        
        <div class="field">
          <p class="explanation">This'll be both the page title (&lt;title&gt;&lt;/title&gt;) and the name in the header</p>
          <label>Project Name</label>
          <%= f.text_field :project_name %> 
        </div>
        
        <div class="field">
          <p class="explanation">Shows up centered at the top of the homepage...leave blank if you don't want to include this.</p>
          <label>Tagline</label>
          <%= f.text_area :tagline, rows: 2 %>
        </div>
  
        <div class="field">
          <p class="explanation">The dollar amount you'd like to raise.</p>
          <label>Project Goal</label>
          <div class="amount_input" style="position:relative">
            <%= f.text_field :project_goal, value: (number_with_precision(f.object.project_goal, :precision => 2) || 0) %>
            <span style="position:absolute">$</span>
          </div>
        </div>
  
        <div class="field">        
          <p class="explanation">When your campaign to raise money should end.</p>
          <label>Expiration Date</label>
          <%= f.date_select :expiration_date, { order: [ :month, :day, :year ] }, { style: "width:120px" } %>
        </div>      
  
        <div class="field">
          <p class="explanation">We STRONGLY recommend including a video with your project.</p>
          <label>Video Embed URL</label>
          <%= f.text_field :video_embed_url %>
        </div>
  
        <div class="field">        
          <p class="explanation">If you'd like to display a custom image instead of your video's default thumbnail, upload it here.</p>
          <label>Video Placeholder</label>
          <% if @settings.video_placeholder.file? %>
            <%= image_tag @settings.video_placeholder.url(:thumb) %><br/>
            <%= f.file_field :video_placeholder %>
            <%= f.check_box :video_placeholder_delete %><span>Delete current image</span>
          <% else %>           
            <%= f.file_field :video_placeholder %>
          <% end  %>
        </div>
          
        <div class="field">       
          <label>Main Content</label>
          <%= f.cktext_area :main_content %>        
        </div>
      </fieldset>
      
      <fieldset>
      <legend>Payment Details</legend>
      
        <label>Amazon Access Key</label>
        <%= f.text_field :amazon_access_key %>
   
        <label>Amazon Secret Key</label>
        <%= f.text_field :amazon_secret_key %>
  
        <label>Price</label>
        <%= f.text_field :price %>
  
        <label>Charge Limit</label>
        <%= f.text_field :charge_limit %>
  
      </fieldset>
      
      <fieldset>
      <legend>Marketing Speak</legend>
      
        <label>How To Reference a Contributor (i.e. 'backer' )</label>
        <%= f.text_field :contributor_reference %>
  
        <label>Progress Text</label>
        <%= f.text_field :progress_text %>
  
        <label>Primary Call to Action Button</label>
        <%= f.text_field :primary_call_to_action_button %>
  
        <label>Primary Call to Action Description</label>
        <%= f.cktext_area :primary_call_to_action_description %>    
  
        <label>Secondary Call to Action Button</label>
        <%= f.text_field :secondary_call_to_action_button %>
  
        <label>Secondary Call to Action Description</label>
        <%= f.cktext_area :secondary_call_to_action_description %>
  
      </fieldset>
  
      <fieldset>
      <legend>Sharing Details</legend>
      
        <label>Tweet Text</label>
        <%= f.text_field :tweet_text %>
  
        <label>Facebook App Id</label>
        <%= f.text_field :facebook_app_id %>      
      
      </fieldset>
      
      <fieldset>
      <legend>Google Analytics</legend>
      
        <label>Google Analytics ID</label>
        <%= f.text_field :google_id %>
      
      </fieldset>
      
      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>