<div id="admin">
  <div class="container content_box clearfix">

  <%= render 'admin/header', website: '', campaigns: 'active', bank: '' %>

  <div id="admin_contributors">
    <h4><%= @campaign.name %></h4>
    
    <% if @contributors.count > 0 %>
    
      <div class="search">
        <form accept-charset="UTF-8" action="<%= admin_campaigns_contributors_path(@campaign) %>" method="get">
          
          <input id="payment_id" type="text" name="payment_id" placeholder="Search by ID" value="<%= params[:payment_id] if params.has_key?(:payment_id) %>"/>  
          <button type="submit" class="btn btn-primary show_loader" data-loader="admin_header">Search</button>
        
        </form>
        <% if params.has_key?(:payment_id) %>
          <%= link_to "clear", admin_campaigns_contributors_path(@campaign), :class => 'show_loader', :'data-loader' => "admin_header" %>
        <% end %>
      </div>
  
      <table class="table table-striped">
        <thead>
          <tr>         
            <th>Name</th>
            <th>Email</th>
            <th>Amount</th>
            <th>User Fee</th>
            <th>Date</th>
            <th>Status</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <% @contributors.each do |contributor| %>
          <tr>      
            <td><%= contributor['user']['firstname'] %></td>
            <td><%= contributor['user']['email'] %></td>
            <td>$<%= number_with_precision(contributor['amount'].to_f/100.0, precision: 2) %></td>
            <td>$<%= number_with_precision(contributor['user_fee_amount'].to_f/100.0, precision: 2) %></td>
            <td><%= DateTime.parse(contributor['creation_date']).strftime("%m/%d/%Y") %></td>
            <td><%= contributor['status'] %></td>
            <td><%= contributor['id'] %></td>
          </tr>
          <% end %>  
        </tbody>
      </table>
  
      <% if @total_pages > 1 %>
        <%= render 'shared/paginate', path: admin_campaigns_contributors_path(@campaign), page: @page, total_pages: @total_pages %>
      <% end %>
    <% else %>
      <p>No contributors yet!</p>
    <% end %>
    
  </div>  
  </div>
</div>