<div id="checkout">
  <div class="container clearfix">
    <div class="main_content <%= "payment_options" if @settings.use_payment_options %>">
      <h3>Back This Project</h3>
      <div class="well">
        <p id="amount" data-amount="<%= @settings.price %>">Amount: $<%= @settings.price %></p>
      </div>
      
      <%= link_to "Continue to next step", checkout_payment_path, class: "btn btn-primary" %>
      
    </div>
    <%= render 'project/checkout_sidebar' %>
  </div>
</div>
