<div id="checkout">
  <div class="container content_box clearfix">
    <div class="main_content">
      <h3><%= @campaign.name %></h3>
        
    <div class="well checkout_block">
           
        <form accept-charset="UTF-8" action="<%= checkout_confirmation_path(@campaign) %>" method="post" id="payment_form">
  
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          
          <fieldset>
          <label for="fullname">Full Name</label>
          <input id="fullname" name="fullname" type="text">
          </fieldset>

          <fieldset>
          <label for="email">Email Address</label>
          <input id="email" name="email" type="text">
          </fieldset>
          
          <% if @campaign.collect_shipping %>
          <h4>Shipping Address</h4>
          
          <fieldset>
          <label for="address_one">Address1</label>
          <input id="address_one" name="address_one" type="text">
          </fieldset>

          <fieldset>
          <label for="address_two">Address2</label>
          <input id="address_two" name="address_two" type="text">
          </fieldset>

          <fieldset>
          <label for="city">City</label>
          <input id="city" name="city" type="text" style="width:230px">
          </fieldset>
          
          <fieldset>
          <label for="state">State</label>
          <input id="state" name="state" type="text" style="width:50px">
          </fieldset>

          <fieldset>
          <label for="postal_code">Postal Code</label>
          <input id="postal_code" name="postal_code" type="text" style="width:135px">
          </fieldset>
					<% end %>
					
					<h4>Card Information</h4>
					
          <fieldset>
          <label for="card_number">Card Number</label>
          <input id="card_number" type="text">
          </fieldset>
        
          <fieldset>
          <label>Expiration</label>
            <select id="expiration_month" style="width:50px">
                <option value="01" selected>01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>          
            <select id="expiration_year" style="width:75px">
                <option value="2013">2013</option>
                <option value="2014" selected>2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
          </fieldset>
        
          <fieldset>
          <label for="security_code">Security Code</label>
          <input id="security_code" size="30" type="text" class="input-small">
          </fieldset>
                    
          <input id="ct_user_id" type="hidden" name="ct_user_id" value="<%= @campaign.production_flag ? @settings.ct_production_guest_id : @settings.ct_sandbox_guest_id %>" >
          
          <input id="quantity" type="hidden" name="quantity" value="<%= @quantity %>">
          <input id="amount" type="hidden" name="amount" value="<%= @amount %>">
          <input id="fee" type="hidden" name="fee" value="<%= @fee %>">
    			
    			<div class="payment-submit">
          	<button class="btn btn-primary" type="submit">Confirm Payment</button>
          	<span id="loader" class="loader" style="display:none"></span>    
          </div> 
        
        </form>
        <div id="errors"></div>
        <br/><br/>
        <p class="crowdhoster-powered" style="display:block!important"><i class="icon icon-lock"></i> Payments powered by Crowdhoster, a <img src="/assets/crowdtilt.png" width="60px" height="11px"> product</p>
    </div>  
  
  </div>
  
		<div class="sidebar">
			<div class="well">
				<div class="clearfix">
					<h4 class="pull-left">Payment Summary</h4>
					<p class="pull-right"><%= link_to "edit", checkout_amount_path(@campaign) %></p>
				</div>
				
				<table style="width: 100%">
				
					<tr>
					<td width="225">
					<% if @campaign.payment_type == "fixed" %>
						<p>Subtotal (<%= "#{@quantity} x $#{number_with_precision(@campaign.fixed_payment_amount, precision: 2)}" %>)</p>
					<% else %>
						<p>Subtotal</p>
					<% end %>
					</td>
					<td style="text-align: right"><p>$<%= number_with_precision(@amount, precision: 2) %> </p></td>
					</tr>
					
					<% if @fee > 0 %>
					<tr>
					<td width="225"><p>Processing Fee</p></td>
					<td style="text-align: right"><p>$<%= number_with_precision(@fee, precision: 2) %></p></td>
					</tr>
					<% end %>
					
					<tr>
					<td width="225"><p><strong>Total</strong></p></td>
					<td style="text-align: right"><p><strong>$<%= number_with_precision(@total, precision: 2) %></strong></p></td>
					</tr>				
				
				</table>
				
			</div>
			<div class="custom_content">
				<%= raw(@campaign.checkout_sidebar_content) %>
			</div>
		</div>
  
  </div>
</div>

<%= javascript_tag do %>
  window.crowdtilt_mode = "<%= @campaign.production_flag ? 'production' : 'sandbox' %>";
<% end %>
